# built from .in files by autoconf/CMake
bin/bbackupd/bbackupd-config
bin/bbstored/bbstored-certs
bin/bbstored/bbstored-config
contrib/debian/bbackupd
contrib/debian/bbstored
contrib/mac_osx/org.boxbackup.bbackupd.plist
contrib/mac_osx/org.boxbackup.bbstored.plist
contrib/redhat/bbackupd
contrib/redhat/bbstored
contrib/suse/bbackupd
contrib/suse/bbstored
contrib/solaris/bbackupd-manifest.xml
contrib/solaris/bbackupd-smf-method
contrib/solaris/bbstored-manifest.xml
contrib/solaris/bbstored-smf-method
contrib/windows/installer/boxbackup.mpi
infrastructure/BoxPlatform.pm
infrastructure/cmake/build
infrastructure/makebuildenv.pl
infrastructure/makedistribution.pl
infrastructure/makeparcels.pl
lib/bbackupquery/makedocumentation.pl
lib/common/BoxConfig.h
lib/common/BoxConfig.h.in
lib/common/BoxConfig.cmake.h
lib/common/BoxPortsAndFiles.h
lib/common/BoxVersion.h
lib/common/makeexception.pl
lib/raidfile/raidfile-config
lib/server/makeprotocol.pl
runtest.pl
test/backupstorefix/testfiles/testbackupstorefix.pl
test/bbackupd/testfiles/bbackupd.conf
test/bbackupd/testfiles/bbackupd-exclude.conf
test/bbackupd/testfiles/bbackupd-snapshot.conf
test/bbackupd/testfiles/bbackupd-symlink.conf
test/bbackupd/testfiles/bbackupd-temploc.conf
test/bbackupd/testfiles/extcheck1.pl
test/bbackupd/testfiles/extcheck2.pl
test/bbackupd/testfiles/notifyscript.pl
test/bbackupd/testfiles/syncallowscript.pl

# from svn:ignore
aclocal.m4
autom4te.cache
config.log
config.log.features
config.status
config.env
configure
configure.lineno
debug
release
parcels
ExceptionCodes.txt
local
Makefile
.hg
*.log
test/*/*.memleaks

# built by makebuildenv.pl
test/*/_main.cpp
test/*/_t
test/*/_t-gdb
bin/*/autogen_*.cpp
bin/*/autogen_*.h
lib/*/autogen_*.cpp
lib/*/autogen_*.h
test/*/autogen_*.cpp
test/*/autogen_*.h

# qdbm
qdbm/*.o
qdbm/libqdbm.a
qdbm/qdbm.pc
qdbm/qdbm.spec
qdbm/LTmakefile
qdbm/cbcodec
qdbm/cbtest
qdbm/crmgr
qdbm/crtest
qdbm/crtsv
qdbm/dpmgr
qdbm/dptest
qdbm/dptsv
qdbm/hvmgr
qdbm/hvtest
qdbm/libqdbm.so
qdbm/libqdbm.so.14
qdbm/libqdbm.so.14.13.0
qdbm/odidx
qdbm/odmgr
qdbm/odtest
qdbm/qmttest
qdbm/rlmgr
qdbm/rltest
qdbm/vlmgr
qdbm/vltest
qdbm/vltsv

# development
*.orig
*.patch
.*.swo
.*.swp
