<html>
<head>
<title>###TITLE### -- <!--T-->Test Web Application<!--T--></title>
</head>
<body>
<table border=0>
<tr><td rowspan=2 valign="top">
###MENU###
<!--PageTemplate-Omit-Begin-->

<!--Menu-Begin-->
<table cellpadding=1 cellspacing=0 border=1>
<tr><td><b>MENU</b></td></tr>
<!--Menu/-->
<!--Menu-Item-->
<tr><td><a href="[URL]">[TEXT]</td></tr>
<!--Menu/-->
<!--Menu-ItemThisPage-->
<tr><td>[TEXT]</td></tr>
<!--Menu/-->
<!--Menu-End-->
</table>
<!--Menu/-->

<!--PageTemplate-Omit-End-->
</td>
<td>
###PAGE###
<!--PageTemplate-Omit-Begin-->
<!--Table-Begin-->
<table cellpadding=1 cellspacing=2 border=1>
<!--Table/-->
<!--Table-RowBegin-->
<tr>
<!--Table/-->
<!--Table-CellBegin-->
<td valign=top>
<!--Table/-->
<!--Table-CellEnd-->
</td>
<!--Table/-->
<!--Table-CellBegin-Highlight-->
<td valign=top bgcolor="#ff00ff">
<!--Table/-->
<!--Table-CellEnd-Highlight-->
</td>
<!--Table/-->
<!--Table-RowEnd-->
</tr>
<!--Table/-->
<tr>
<!--Table-EmptyCell-->
<td>&nbsp;</td>
<!--Table/-->
</tr>
<!--Table-End-->
</table>
<!--Table/-->

<!--Form-ErrorStart-->
<font color=red>ERROR</font><br>
<!--T-->Please correct the highlighted fields in the form below.<!--T--><p>
<!--Form/-->

<!--Form-ErrorListStart-->
<ul><li>
<!--Form/-->
<!--Form-ErrorListSeparate-->
<li>
<!--Form/-->
<!--Form-ErrorListEnd-->
</ul>
<!--Form/-->

<!--Form-Begin-->
<table cellpadding=1 cellspacing=2 border=0>
<!--Form/-->
<!--Form-RowBegin-->
<tr>
<!--Form/-->
<!--Form-CellBegin-Label-->
<td valign=top align=right>
<!--Form/-->
<!--Form-CellEnd-Label-->
</td>
<!--Form/-->
<!--Form-CellBegin-->
<td valign=top>
<!--Form/-->
<!--Form-ErrorMarker-->
<font color="red">**</font>
<!--Form/-->
<!--Form-InlineErrorStart-->
<br><small>
<!--Form/-->
Inline error message
<!--Form-InlineErrorEnd-->
</small>
<!--Form/-->
<!--Form-CellEnd-->
</td>
<!--Form/-->
<!--Form-RowEnd-->
</tr>
<!--Form/-->
<tr>
<!--Form-EmptyCell-->
<td>&nbsp;</td>
<!--Form/-->
</tr>
<!--Form-End-->
</table>
<!--Form/-->

<!--DatabaseTable-Begin-->
<table cellpadding=1 cellspacing=2 border=1>
<!--DatabaseTable/-->
<!--DatabaseTable-RowBegin-->
<tr>
<!--DatabaseTable/-->
<!--DatabaseTable-HeadingCellBegin-->
<td valign=top bgcolor="#dddddd">
<!--DatabaseTable/-->
Heading
<!--DatabaseTable-HeadingCellEnd-->
</td>
<!--DatabaseTable/-->
<!--DatabaseTable-DataCellBegin-->
<td valign=top>
<!--DatabaseTable/-->
Data
<!--DatabaseTable-DataCellEnd-->
</td>
<!--DatabaseTable/-->
<!--DatabaseTable-RowEnd-->
</tr>
<!--DatabaseTable/-->
<!--DatabaseTable-End-->
</table>
<!--DatabaseTable/-->

<!--PageTemplate-Omit-End-->
</td></tr>
<tr><td>
###STATUS###
</td></tr>
</table>
<hr>
<!--T-->Test web application<!--T-->
</body>
</html>
